[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slackclient = "*"
mopidy = "*"

[dev-packages]
vcrpy = "*"
clonedigger = "*"
pytest = "*"
pytest-cov = "==2.2.1"
pytest-xdist = "==1.14"
flake8 = "==3.5.0"
flake8-import-order = "*"
coveralls = "*"

[requires]
python_version = "2.7"
